/* CSS Document */
/* FONTS */
@font-face {
  font-family: 'eenfont';
  src: url('../fonts/eenfont.woff2') format('woff2'),
    url('../fonts/eenfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {

	--backgroundColor: #e5bdf6;
	--buttons: #FF18D5;
	--background1: #F7E0FF;
	--background2: #bbadff;
	--tekst: #2C0C4D;
	--tekst2: white;
	--hart: white;
	--filter: #2C0C4D;
	--input: #fffffc;

  font-family: eenfont, sans-serif;
  color: #111;
  background-color: var(--backgroundColor);
  color: white;
}

@media (prefers-color-scheme:dark) {
  body {
    /* dark theme */
		--backgroundColor: #2C0C4D;
	  --buttons: #FF18D5;
	  --background1: #47276A;
	  --background2: #701EC2;
		--tekst: white;
		--tekst2: #2C0C4D;
		--hart: red;
		--filter: #fffffc;
		--input: #fffffc;
  }
}

ul {
  list-style-type: none;
}

/* BRAND STYLING */
header {
  text-align: center;
}

header h1 {
  padding: 2%;
  color: var(--tekst);
}

/* 1e section met zoekbalk en filter */
section:first-of-type, section:nth-of-type(2) {
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
}

/* button filter*/
section:first-of-type button, section:nth-of-type(2) button {
  padding: 1.2em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  background-color: var(--buttons);
  color: var(--tekst);
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
}

/* Zoekbalk */
section:first-of-type input {
  padding: 1em;
  background-color: var(--input);
  color: var(--tekst);
  border: none;
  border-radius: 1em;
}

/* Nummertje bij het Hartje */
section:nth-of-type(2) a span {
  position: absolute;
  min-width: 1.25em;
  line-height: 1.25em;
  left: 1.3em;
  font-size: 0.5em;
  text-align: center;
  color: var(--hart);
  background-color: var(--tekst);;
  border-radius: .625em;
}

/* Het hartje zelf */
.favoriet {
  position: relative;
  font-size: 1.5em;
  text-decoration: none;
  color: var(--hart);
}

/* Van view wisselen button */
section:nth-of-type(2) img {
  padding: 0.7em;
  margin-right: 1.3em;
  background-color: var(--buttons);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

section:nth-of-type(2) button:nth-of-type(2) {
	padding: 0.7em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/* Wisselen img van grid naar lijst en andersom */
body.grid-view section:nth-of-type(2) img {
  content: url("../images/list.svg");
}

/* Uitklap bij button filteren  */
.openFilter {
  position: fixed;
  top: 50vh;
  background: var(--filter);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border-radius: 5% 5% 0% 0%;
  /* Verberg menu */
  transform: translateX(-100%);
  transition: 0.2s ease;
  z-index: 1;
}

.open {
  /* Laat menu zien */
  transform: translateX(0);
}

aside h2 {
  margin-left: 1em;
	margin-top: 0.5em;
	color: var(--tekst2);
}

aside button{
	margin-left: 2em;
	margin-top: 2em;
}

label{
	display: block;
	margin: 0.5em;
	padding-left: 1em;
	color: var(--tekst2);
}

input{
	margin-right: 1em;
}

/* Sorteren */
.sort.asc::after {
  content: "(az↓)";
  padding-left: .25em;
  font-weight:normal;
}

.sort.desc::after {
  content: "(za↓)";
  padding-left: .25em;
  font-weight:normal;
}

/* Lijst met nummers */
/* de list items zelf en wat er in zit */
section:nth-of-type(3) ul li {
  background-color: var(--background1);
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
}

section:nth-of-type(3) img {
  width: 4em;
  height: 4em;
}

span{
	display: inline-block;
  position: relative;
	cursor: pointer;
}

section:nth-of-type(3) h2 {
  font-size: 1em;
  height: 1em;
}

section:nth-of-type(3) p {
  font-size: 0.5em;
}

/* Filteren */
ul.pop li:not(.popSong) {
  display:none;
}

ul.rnb li:not(.rnbSong) {
  display:none;
}

ul.hiphop li:not(.hiphopSong) {
  display:none;
}

ul.dance li:not(.danceSong) {
  display:none;
}

/* filteren op grid view */
body.grid-view ul.pop li:not(.popSong) {
  display:none;
}

body.grid-view ul.rnb li:not(.rnbSong) {
  display:none;
}

body.grid-view ul.hiphop li:not(.hiphopSong) {
  display:none;
}

body.grid-view ul.dance li:not(.danceSong) {
  display:none;
}

/* Als het grid op lijst staat (onder elkaar)*/
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
section:nth-of-type(3) ul li {
  display: grid;
  grid-template-columns: 30% 50% 30%;
	grid-template-rows: 2em 1em 1em;
	color: var(--tekst)
}

section:nth-of-type(3) ul li p {
  grid-column-start: 2;
}

section:nth-of-type(3) ul li img {
  grid-row: 1 / 4;
}

section:nth-of-type(3) ul li button:first-of-type {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5em;
  color: red;
}

/* button pause en play */
section:nth-of-type(3) ul li button:nth-of-type(2) {
	background-color: transparent;
	border: none;
	overflow: visible;
	padding-bottom: 2.5em;
}

section:nth-of-type(3) ul li button img {
  width: 2em;
	height: 2em;
	cursor: pointer;
}

/* Als het grid op grid staat (naast elkaar) */
body.grid-view section:nth-of-type(3) ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
}

body.grid-view section:nth-of-type(3) li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em 2em 1.5em;
  width: 43vw;
  height: 10em;
}

body.grid-view section:nth-of-type(3) h2 {
  grid-column-start: -4;
  grid-column-end: -1;
  grid-row: 3;
	font-size: 0.7em;
}

body.grid-view section:nth-of-type(3) button:first-of-type {
  grid-column-start: 2;
  grid-column-end: 3;
}

body.grid-view section:nth-of-type(3) button:nth-of-type(2) {
  grid-column-start: 2;
  grid-column-end: 3;
	grid-row: 2;
}

body.grid-view section:nth-of-type(3) p:first-of-type {
  grid-column-start: -4;
  grid-column-end: -3;
  grid-row: 4;
}

body.grid-view section:nth-of-type(3) p:nth-of-type(2) {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row: 4;
}

body.grid-view section:nth-of-type(3) img {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row: 0;
}
