/* CSS Document */

/* FONTS */
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@import url(//db.onlinewebfonts.com/c/39bdd3092b9dea8d90eab635bb361024?family=Tepeno+Sans);

@font-face {font-family: "Tepeno Sans"; src: url("//db.onlinewebfonts.com/t/39bdd3092b9dea8d90eab635bb361024.eot"); src: url("//db.onlinewebfonts.com/t/39bdd3092b9dea8d90eab635bb361024.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/39bdd3092b9dea8d90eab635bb361024.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/39bdd3092b9dea8d90eab635bb361024.woff") format("woff"), url("//db.onlinewebfonts.com/t/39bdd3092b9dea8d90eab635bb361024.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/39bdd3092b9dea8d90eab635bb361024.svg#Tepeno Sans") format("svg"); }

/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing:border-box;
}

body {
	--gradiant: radial-gradient(circle at 10% 100%, #fed373 5%, #f15245 40%, #d92e7f 62%, #9b36b7 85%, #515ecf);
	--gradiant2: radial-gradient(circle at 100% 10%, #f4f3f3 5%, #e3e2e2 40%, #d5d5d5 62%, #c4c4c4 85%, #b8b8b8);
	--gradient3: linear-gradient(#fed373, #f15245, #d92e7f, #9b36b7, #515ecf);
	--borderInstagram: white;
	--backgroundColor:#eee;
	--vansColor: black;
	--instagramTekst: #dadada;

  font-family:eenfont, sans-serif;
  color:#111;
  background-color:var(--backgroundColor);
}

/* https://codepen.io/shooft/pen/bGgvdZZ */
@media (prefers-color-scheme:dark) {
  body{
    /* dark theme */
		--gradiant2: radial-gradient(circle at 100% 10%, #828181 5%, #6c6c6c 40%, #5b5a5a 62%, #474747 85%, #323232 );
		--backgroundColor: #303030;
		--vansColor: white;
		--instagramTekst: #555555;
  }
}

/* Split screen: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_split_screen */
section{
	height: 100%;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
}

h1{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* BRAND STYLING */

/* Vans */
section:first-of-type {
	left: 0;
}

section:first-of-type h1 {
	font-family:'Tepeno Sans', sans-serif;
	color: var(--vansColor);
}

/* Span */
section:first-of-type h1 span:first-of-type{
	font-size: min(11vw, 4em);
	position:relative;
}

section:first-of-type h1 span:nth-of-type(2){
	font-size: min(8vw, 3em);
}

section:first-of-type h1 span:nth-of-type(3){
	font-size: min(8vw, 3em);
}

section:first-of-type h1 span:nth-of-type(4){
	font-size: min(8vw, 3em);
	display: inline-block;
}

/* Before/After */
section:first-of-type h1 span:first-of-type::before{
	content: '';
	position: absolute;
	width: 1.6em;
	height: 0.12em;
	background-color: var(--vansColor);
	left: 0.39em;
	top: 0.22em;
}

section:first-of-type h1 span:nth-of-type(2)::before{
	content: '🛹';
	position: absolute;
	width: 1.6em;
	height: 0.12em;
	left: 0.2em;
  top: -0.7em;
}

/* Keyframes */
@keyframes vans-animation {
  0% {
    transform:rotate(0);
  }
  90% {
    transform:rotate(30deg);
  }
	100% {
    transform:rotate(0);
  }
}

@keyframes skateboard-animation {
  0% {
    left:0;
  }
  100% {
    left:2em;
  }
}

@keyframes salto {
	0% {
		left:2em;
    transform:rotate(0deg);
  }
  100% {
		left: 2.5em;
		top: 0.3em;
		transform: translateY(-10em);
    transform:rotate(-360deg);
  }
}

@keyframes skateboard-weg {
	0% {
		left: 2.5em;
		top: 0.3em;
  }
  100% {
		left: 7em;
		top: 0.3em;
  }
}

@keyframes vans-s {
	0% {
	transform: rotate(0deg);
  }
  50% {
  transform: rotate(-60deg);
  }
	100% {
	transform: rotate(0deg);
  }
}

/* Hover */
section:first-of-type:hover{
  animation-name:vans-animation;
  animation-duration:2s;
}

section:first-of-type:hover span:nth-of-type(2)::before {
	animation-name: skateboard-animation, salto, skateboard-weg;
	animation-duration: 2s, 1.5s, 1.5s;
	animation-delay: 0s, 1.8s, 3s;
}

section:first-of-type:hover span:nth-of-type(4){
	animation-name:vans-s;
  animation-duration:1s;
	animation-delay: 2.8s;
}

/* Instagram */
section:nth-of-type(2) {
	right: 0;
}

section:nth-of-type(2) h1{
	font-family: 'Dancing Script', cursive;
	font-size: min(8vw, 3em);
	display: flex;
}


/* befor/after */
/* Gradient: https://stackoverflow.com/questions/37751375/instagram-new-logo-css-background */
section:nth-of-type(2) h1 span:first-of-type::before{
	content: '';
	position: absolute;
	width: 2em;
	height: 2em;
	background-image: var(--gradiant2);
	border-radius: 20%;
	right: 30%;
	bottom: 130%;
}

section:nth-of-type(2) h1 span:first-of-type::after{
	content: '';
	position: absolute;
	width: 2em;
	height: 2em;
	background-image: var(--gradiant2);
	border-radius: 20%;
	right: 30%;
	bottom: 130%;
}

section:nth-of-type(2) h1 span:nth-of-type(3)::before{
	content: '';
	position: absolute;
	width: 1.4em;
	height: 1.4em;
	border: solid 0.15em var(--borderInstagram);
	border-radius:20%;
	right: 38%;
	bottom: 155%;
}

section:nth-of-type(2) h1 span:nth-of-type(4)::before{
	content: '';
	position: absolute;
	width: 0.8em;
	height: 0.8em;
	border: solid 0.15em var(--borderInstagram);
	border-radius:50%;
	right: 46%;
	bottom: 180%;
}

/* https://youtu.be/6AdMP_MGXvE */
section:nth-of-type(2) h1{
	background-color: var(--instagramTekst);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
}

section:nth-of-type(2) h1::before{
	content: 'Instagram';
	background-image: var(--gradient3);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 0;
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
}

/* keyframes */

@keyframes gradient {
	0%{
		width: 0;
		background-image: var(--gradiant)
	}
	100%{
		width: 52%;
		background-image: var(--gradiant)
	}
}

/* https://codepen.io/twinpixxx/pen/PKEGdV */
@keyframes animate_circle{
	0%{
		transform: scale(0);
		opacity: 0;
	}
	15%{
		transform: scale(1);
		opacity: 1;
	}
	50%{
		transform: scale(1);
		background-color: transparent;
	}
	65%{
		transform: scale(1.2);
		background-color: #ffffff;
	}
	100%{
		transform: scale(1);
	}
}

@keyframes vierkant {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(1turn);
  }
}

@keyframes tekst {
	0% {
		width: 0;
	}
	100%{
		width: 100%;
	}
}

/* hover */
section:nth-of-type(2):hover span:first-of-type::after{
	animation-name: gradient;
	animation-duration: 3s;
	transition: ease-in-out;
	animation-fill-mode: forwards;
}

section:nth-of-type(2):hover span:nth-of-type(4)::before{
	animation-name: animate_circle;
	animation-duration: 3s;
	animation-delay: 1.8s;
}

section:nth-of-type(2):hover span:nth-of-type(3)::before{
	animation-name: vierkant;
	animation-duration: 2s;
	animation-delay: 1.2s;
}

section:nth-of-type(2):hover h1::before{
	animation-name: tekst;
	animation-duration: 4s;
	transition: ease-in-out;
	animation-fill-mode: forwards
}
